.search-app-main-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    width: auto;
}
.search-app-main-container1{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #318CE7;
}
.search-app-sub-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
}
.title-con{
    align-self: center;
}
.form{
    padding: .5%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    align-self: center;
}
.form-sub-con{
    padding: .5%;
    /* padding-top: 2%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    align-self: center;
    /* fslex-wrap: wrap; */
}
.search-input{
    max-width: 50%;
    margin-left: 15px;
    background-color: #ffffff;
    border-radius: 0px;
    font-family: 'Gill Sans', sans-serif;
}
.search-button{
    border-radius: 0px;
    border: none;
    padding: 5px;
    max-height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
}
.upload-data-btn{
    margin-left: 20px;
}
.table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.err-message{
    font-size: 15px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(231, 15, 15);
}
.heading{
    font-size: 28px;
    margin: 0px;
    padding-top: 20px;
    color: #FFFFFF;
    font-family: 'Gill Sans', sans-serif;
}
.description{
    font-size: 12px;
    margin: 0px;
    font-family: 'Gill Sans', sans-serif;
    color: #FFFFFF;
}
.table{
    align-self: "center"; 
    width: "80%";
    overflow-x: auto;
}
.search-icon {
    color: #475569;
    width: 20px;
    border: none;
  }
  .search-input {
    color: #0f172a;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    flex-grow: 1;
    max-width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    font-family: 'Gill Sans', sans-serif;
  }  

@media screen and (max-width: 767px) {
    .search-app-sub-container {
        display: flex;
        flex-direction: row;
        align-self: center;
        padding-top: 1%;
        padding-bottom: 2%;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
    }
    .form {
        padding: .5%;
        padding-top: 2%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        align-self: center;
    }
    .form-sub-con{
        padding: 4%;
        padding-top: 2%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        align-self: center;
        /* fslex-wrap: wrap; */
    }
    .heading {
        font-size: 20px;
    }
    .description {
        font-size: 12px;
    }
    .table{
        align-self: "center"; 
        width: 100%;
        overflow-x: auto;
        padding: 1%;
    }
    .search-input{
        max-width: 90%;
        margin-left: 15px;
        background-color: #ffffff;
        font-family: 'Gill Sans', sans-serif;
    }
}